<!--

DOCUMENTATION   :https://ng-semantic.herokuapp.com/#/elements/select

ngSemantic uses a different name for model and change which can be found in the above link

ngModel -> model
change  -> onChange

Remember to look at the naming  used by this library for other components we may use.

-->
<h1>WITH TYPING</h1>
<sm-select class="fluid multiple search selection dropdown" [(model)]="myModelProperty" (onChange)="added()">
  <input type="hidden" name="languages">
  <option value="">Skills</option>
  <option value="angular">Angular</option>
  <option value="css">CSS</option>
  <option value="design">Graphic Design</option>
  <option value="ember">Ember</option>
  <option value="html">HTML</option>
  <option value="ia">Information Architecture</option>
  <option value="javascript">Javascript</option>
  <option value="mech">Mechanical Engineering</option>
  <option value="meteor">Meteor</option>
  <option value="node">NodeJS</option>
  <option value="plumbing">Plumbing</option>
  <option value="python">Python</option>
  <option value="rails">Rails</option>
  <option value="react">React</option>
  <option value="repair">Kitchen Repair</option>
  <option value="ruby">Ruby</option>
  <option value="ui">UI Design</option>
  <option value="ux">User Experience</option>
</sm-select>

<br>

<h1>WITHOUT TYPING</h1>
<sm-select class="fluid multiple" [(model)]="myModelProperty" (onChange)="added()">
  <option value="">Skills</option>
  <option value="angular">Angular</option>
  <option value="css">CSS</option>
  <option value="design">Graphic Design</option>
  <option value="ember">Ember</option>
  <option value="html">HTML</option>
  <option value="ia">Information Architecture</option>
  <option value="javascript">Javascript</option>
  <option value="mech">Mechanical Engineering</option>
  <option value="meteor">Meteor</option>
  <option value="node">NodeJS</option>
  <option value="plumbing">Plumbing</option>
  <option value="python">Python</option>
  <option value="rails">Rails</option>
  <option value="react">React</option>
  <option value="repair">Kitchen Repair</option>
  <option value="ruby">Ruby</option>
  <option value="ui">UI Design</option>
  <option value="ux">User Experience</option>
</sm-select>



